.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 99%;
}

.container div {
  padding: 2px;
  padding-top: 10px;
  text-align: center;
  border-radius: 1rem;
  transition: 0.5s ;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.459);
}

.container div:hover{
  transform: scale(1.01);
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.733);
}

.container h3{
    cursor: pointer;
}

span{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #000000;
    width: 80px;
    height: 20px;
    font-size: 30px;
    display: inline;
    position: relative;
    top: -170px;
    left: -290px;
    transition: 0.5s;
}

span:hover{
    cursor: pointer;
    color: red;
}

/* .container div::before{
    content: "♥";
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: rgba(255, 0, 0, 0.582);
    border: 1px solid red;
} */

/* .container div:hover::before{
    background-color: white;
    cursor: pointer;
} */

/* img::before {
  content: "♥";
  color: red;
  background-color: violet;
  position: absolute;
  height: 1em;
  width: 0.5em;
  top: 1.3em;
  left: 0.6em;
} */

.container img {
  width: 300px;
  height: 200px;
}

.container img:hover{
    cursor: pointer;
}

hr {
  opacity: 30%;
  width: 80%;
}
